<main>
    <div class="row">
        <div class="col-3">&nbsp;</div>
        <h3 class="col-6">
            Looking for engaging projects where I can add value and grow my skills, all the while producing an amazing product. I’m encouraged by challenges and learning new skills. I have a deep commitment to quality and learning being a hand in hand concept. I also enjoy cooperative development and working in teams.
        </h3>
        <div class="col-3">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-3">&nbsp;</div>
            <ul class="col-6">
                <li>Primary Skills</li>
                <li>Client-Side Scripting | JavaScript, AJAX, JQuery</li>
                <li>Server-Side Languages | C# .NET, Node.js</li>
                <li>Web Services | Web API</li>
                <li>Client-Side Markup | HTML5, HTML, CSS3, CSS</li>
            </ul>
        <div class="col-3">&nbsp;</div>
    </div>

    <form>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <input id="name" class="col-4" type="text" required placeholder="Name (Max Characters of 70)" maxlength="70" />
            <div class="col-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <input id="email" class="col-4" type="email" required placeholder="Email Address (Max Characters of 128)" maxlength="128" />
            <div class="col-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <textarea id="comment" class="col-4" placeholder="Description of Request (Max Characters of 1000)" maxlength="1000" required></textarea>
            <div class="col-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <div class="g-recaptcha col-4" data-sitekey="6LeM2h4UAAAAAMCU2nq6l_P4itiZcbRqfliEBZOz"></div>
            <div class="col-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <button id="submit" class="col-4" type="button">Submit</button>
            <div class="col-4">&nbsp;</div>
        </div>
    </form>

</main>
